.jumbotron {
    margin-top: 5%;
    height: 500px;
   
}

#jumbo {
    background-color: orange;
}

h1 {
    color: white;
    font-size: 70px;

}
.text-center {
    color: white;

}

.btn {
    background-color: #FF00FF;
    color: white;
    font-weight: bold;
}
.btn:hover {
    background-color: #7FFFD4;
    color: black;
}

.footer {
    text-align: center;
}

#jumbo2 {
    margin: auto;
    height: 300px;
    background-color: orange;
}

#instructions {
    font-size: 20px;
}

.survey {
    font-size: 30px;
    text-align: center;
}

.links {
    text-align: center;
    list-style-type: none;
}

